/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modalPD1 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-contentPD1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-contentP,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closePDMI1:hover,
.closePDMI1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* Style the Image Used to Trigger the Modal */
@media only screen and (min-width: 700px) {
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modalPD2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 70%;
    /* Full width */
    height: 60%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-contentPDMI2 {
    margin: auto;
    display: block;
    width: 70%;
    height: 60%;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-contentPDMI2,
#caption {
    -webkit-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  /* The Close Button */
  .ClosePDMI2,
.ClosePDMI2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .ClosePDMI2:hover,
.ClosePDMI2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}
html {
  width: 100%;
  height: 100%;
}
html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: scroll;
  font-family: "Zen Kurenaido", sans-serif;
}
html body nav {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2em;
  }
  body nav {
    width: 100%;
  }
  body #AboutMeImage {
    width: 70%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 2px solid #ea39b8;
    box-shadow: 0px 0px 7px #ea39b8;
  }

  .card {
    padding: 0.5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }
  .card h1 {
    margin-top: 0px;
    color: #44d9e8;
    text-align: center;
  }
  .card .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
  }
  .card .icons img {
    height: 3em;
    width: auto;
  }
  .card .icons .html {
    filter: invert(58%) sepia(96%) saturate(881%) hue-rotate(359deg) brightness(101%) contrast(105%);
  }
  .card .icons .css {
    filter: invert(68%) sepia(77%) saturate(436%) hue-rotate(151deg) brightness(94%) contrast(89%);
  }
  .card .icons .sass {
    filter: invert(16%) sepia(98%) saturate(2695%) hue-rotate(294deg) brightness(100%) contrast(101%);
  }
  .card .icons .js {
    filter: invert(74%) sepia(78%) saturate(1582%) hue-rotate(350deg) brightness(101%) contrast(106%);
  }

  h1 {
    margin-top: 1em;
    color: #44d9e8;
    text-align: center;
    font-size: 2em;
  }

  .card:nth-of-type(2) {
    box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
  }
  .card:nth-of-type(2) #PD1 {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .card:nth-of-type(2) .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .card:nth-of-type(2) .card-body #MobilePokedexImg {
    height: 19em !important;
  }
  .card:nth-of-type(2) .card-body p {
    width: 50%;
    flex-wrap: wrap;
  }

  .card:nth-of-type(3) {
    box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4), 0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
  }
  .card:nth-of-type(3) > img {
    margin-bottom: 1em;
  }
  .card:nth-of-type(3) .ProjectCard2ImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .card:nth-of-type(3) .ProjectCard2ImageContainer span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card:nth-of-type(3) .ProjectCard2ImageContainer span img {
    width: 49%;
    height: auto;
  }
  .card:nth-of-type(3) .ProjectCard2ImageContainer .CDSpan1 {
    margin-bottom: 1em;
  }
  .card:nth-of-type(3) .card-body:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .card:nth-of-type(3) .card-body:nth-of-type(2) #MobilePokedexImg {
    height: 19em;
  }
  .card:nth-of-type(3) .card-body:nth-of-type(2) p {
    width: 50%;
    flex-wrap: wrap;
  }

  .languagesUsed {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */